.header{
    padding: 2em;
    background: #000;
    color:#fff;
}

.menu{
    padding: 2em 1.5em 2em 0;
    background: #deebf7    ;
    color:#000;
    height: 100%;
    position: fixed;
    width: 150px;
}

.menu li{
    list-style-type: none;
}

.menu li a{
    text-decoration: none;
    color: #000;
    border: 1px solid #9ecae1;
    background-color: #9ecae1;
    padding: 10px;
    margin: 1.2em 0;
    display: flex;
    border-radius: 0 10px 10px 0;
}

.sub{
    display: flex;
}

.content{
    /* background-color: magenta; */
    margin-left: 185px;
}